.mission-card {
    display: flex;
    border: 0.1rem solid white;
    margin-bottom: 1rem;
    padding-left: 1rem;
}

.mission-info {
    flex: 1;
}

.crew-list {
    display: inline;
}

.action-container {
    display: flex;
    flex-direction: column;
    padding-top: 0.2rem;
}
