.action-button {
    background-color: black;
    color: white;
    width: 7.5rem;
    height: 3rem;
    border: 0.15rem solid green;
    margin: 0.3rem;
    margin-bottom: 0.6rem;
    padding: 6px 16px;
}

.action-button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 14px rgba(45, 168, 65, 0.55);
}