.filter-button {
    background-color: black;
    color: white;
    width: 7.5rem;
    height: 3rem;
    border: 0.15rem solid red;
    box-shadow: 0 0.1rem 0.3rem rgba(255, 94, 0, 0.4);
    margin: 0.3rem;
    margin-bottom: 0.6rem;
    padding: 6px 16px;
}

.filter-button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 14px rgba(255, 94, 0, 0.55);
}

.filter-button--active {
    transform: scale(0.95);
}