/*
  You don't need to touch this file to complete the assignment!
  Unless you want to add styles and make it look more beautiful.
*/

/*
  Some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

.disabled
{
  display: none;
}

.viewed
{
  text-decoration: line-through;
}

/* th {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

tbody {
  display: flex;
  flex-direction: column;
} */

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px 12px;
  text-align: left;
  vertical-align: top;
  /* aligns content to top of cell */
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}