html {
    background-color: #323438;
    font-family: "Roboto", sans-serif;
}

header {
    text-align: center;
}

.contact-table {
    display: flex;
    justify-content: center;
}

body {
    color: aliceblue;
    margin-left: 15%;
    margin-right: 15%;
}

#body-box {
    border: 1px solid white;
    padding: 2%;
}

.first-three {
    color: lime;
}

h1 {
    /* Shadow sourced from MDN https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/text-shadow */
    text-shadow: #ffcc00 1px 0 10px;
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
}

h3 {
    /* Shadow sourced from MDN https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/text-shadow */
    font-size: 25px;
    text-shadow: #ffcc00 1px 0 10px;
    margin-bottom: 0;
}

h4 {
    /* Shadow sourced from MDN https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/text-shadow */
    font-size: 21px;
    text-shadow: 1px 1px 2px pink;
    margin-bottom: 0;
}

h5 {
    font-size: 17px;
}

a {
    text-decoration: none;
    color: #115ff0;
}

.amazon h4,
h5,
p {
    margin: 0;
}