.ball {
    width: 500px;
    height: 500px;
    line-height: 500px;
    border-radius: 50%;
    font-size: 2rem;
    color: #fff;
    text-align: center;
    background: #000;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.container {
    display: flex;
    justify-content: center;
}

/* .fortune {
    display: block;
} */

/* .roll {
text-align: center;
} */